[2019-06-04 08:28] zdnk opened #1 "Performance considerations"
Hello,
the tool looks good, we were doing the transition manually (from Realms `Object` subclasses to Swifts `struct`s).

But I see you are using reflection in your implementation which can cause some performance issues. I did not notice any cache for the reflection so my guess would be it might perform poorly for larger requests.

I was thinking of doing some sort of similar thing, but using `Cod

[2019-06-04 12:30] arturdev commented on #1
Hi. Thanks for your feedback.
Actually, I've tested with a Struct containing a string with a very large content (a few KBs in size) and the result was pretty promising.
You can test it and measure yourself.
Will appreciate if you contribute and add such Unit test to this project.
Thanks

[2019-06-06 06:44] #1 closed

[2019-06-20 21:24] ahmadmssm opened #2 "error: Unexpectedly found nil while unwrapping an Optional value"
[code]

error: Unexpectedly found nil while unwrapping an Optional value

[2019-06-21 13:36] arturdev commented on #2
Please make sure you've registered your Realmable type in AppDelegate's didFinishLaunching method as described in Readme

[2019-06-24 09:52] arturdev commented on #2
I'll close this issue in 2 days due to inactivity

[2019-06-24 11:21] ahmadmssm commented on #2
@arturdev I already registered Realmable type in AppDelegate's didFinishLaunching method as described in Read me but i found this issue.

[2019-06-24 13:56] arturdev commented on #2
@ahmadmssm so everything works now?

[2019-06-24 14:15] ahmadmssm commented on #2
@arturdev  No, i was telling you that i get this issue although i have already registered Realmable type in AppDelegate's didFinishLaunching method

[2019-06-24 14:56] arturdev commented on #2
Can you please make an example project which demonstrates that issue?
Thanks

[2019-06-25 07:26] arturdev commented on #2
@ahmadmssm Can you please make an example project which demonstrates that issue?
Thanks

[2019-06-25 07:37] ahmadmssm commented on #2
@arturdev I can till you the thing which leads to this bug,
I made a base model class that conforms to both ```Decodable``` and ```Realmable``` and make all my model classes extend this base class, After i did so, this issue happened.

[2019-06-26 07:56] danialmoghaddam commented on #2
@arturdev how does Unrealm behave in case nill option swift primitive? could this be the case?

[2019-06-27 07:35] icefox57 opened #3 "Can't find Unrealm in cocoapods"
![image](https://user-images.githubusercontent.com/1716737/60246409-38dc1b00-98f1-11e9-89c1-fe55f38ab84c.png)

[2019-06-27 07:44] icefox57 commented on #3
I can't find unrealm use pod search command and cocoapod.org ,  but it can be install

[2019-06-27 07:44] #3 closed

[2019-06-27 07:56] arturdev commented on #3
@icefox57 https://cocoapods.org/pods/Unrealm

[2019-07-02 17:17] arturdev commented on #2
@ahmadmssm I've tested the case as you've described and I haven't get any crash.
Can you please send an example project?

[2019-07-02 17:19] arturdev commented on #2
@danialmoghaddam I don't think so.

[2019-07-28 08:13] linkfei opened #4 "How to save `Enum` type ?"
Terminating app due to uncaught exception 'RLMException', reason: 'Can't persist property 'type' with incompatible type. Add to Object.ignoredProperties() class method to ignore.'
*** First throw call stack:

[2019-07-28 17:56] arturdev commented on #4
Example: https://github.com/arturdev/Unrealm/blob/master/Example/Tests/ExampleModels/User.swift

[2019-07-29 13:14] arturdev commented on #4
@linkfei  please let me know if it works

[2019-07-30 13:38] arturdev commented on #2
@ahmadmssm  I'm still unable to reproduce this issue.
When you have time, please send an example project.
Thanks.

[2019-07-31 08:36] ahmadmssm commented on #2
@arturdev I'm a little bit busy but i will try to upload a sample example soon, thanks for following up with me

[2019-07-31 10:36] arturdev commented on #2
@ahmadmssm Thank you too for your help to make this library as bugless as possible.
Appreciate it!

[2019-08-01 20:04] Hurobaki opened #5 "Unrealm pod for Xcode11 Beta 5"
Hello,

I try to install Unrealm in Xcode11 Beta 5. When I try to instanciate `Realm()` it throws me an error : **Terminating app due to uncaught exception 'RLMException', reason: 'Primary key property 'name' does not exist on object 'RealmSwiftClassPermission''**

I saw that is because Realm and RealmSwift has to be explicitly add to Podfile to target Xcode11.

Podfile :
[code]

But now I got the

[2019-08-02 07:20] arturdev commented on #5
Yes, currently I've not tested/optimized it for Xcode11.
But it seems Realm issue: https://github.com/realm/realm-cocoa/issues/6163.
Anyway, I will update the realm version to the latest one soon (currently Unrealm uses 3.15.0 version of Realm).

[2019-08-13 10:41] hernangonzalez opened #6 "Upgrade Realm version"
Hi,

As this moment, latest is `3.17.3`.

Thanks

[2019-08-13 21:39] #4 closed

[2019-08-20 09:50] judges commented on #5
Any updates?

[2019-08-20 10:55] arturdev commented on #5
@judges today or tomorrow will update

[2019-08-25 05:28] laohac8x opened #7 "List<Object>"
i can not use with list of object, Ex: List<Object>, or arr : [Object],
how to use it ?

[2019-08-25 06:07] arturdev commented on #7
Just use Swift's Arrays.
[Example](https://github.com/arturdev/Unrealm/blob/master/Example/Tests/ExampleModels/User.swift#L23)

[2019-08-27 07:09] #7 closed

[2019-08-31 10:25] arturdev commented on #2
@ahmadmssm Have you got a chance to make a sample project?

[2019-08-31 10:38] ahmadmssm commented on #2
@arturdev I will try to upload a sample within this week

[2019-08-31 22:06] arturdev commented on #5
@Hurobaki @judges
The new version is released!
Please update to the latest version and try again.

[2019-08-31 22:06] arturdev commented on #6
Upgraded!

[2019-08-31 22:06] #6 closed

[2019-09-03 20:51] #5 closed

[2019-09-07 21:47] ahmadmssm commented on #2
https://drive.google.com/file/d/1MnVOoi9wWdrYhWL6A4EKy76snjyLO3kz/view?usp=sharing

[2019-09-08 18:59] arturdev commented on #2
@ahmadmssm Thank you very much!
Please update to the latest version (0.2.1).
Also, I've noticed an issue in your code:
BaseRealmTable.swift, line: 42.
replace this:
`self.realm.add(records)`
with
`self.realm.add(records, update: true)`
Because by default it is INSERT query and not INSERT OR UPDATE, which means that your app will crash if you try to add an object which already exists (an object wit

[2019-09-17 17:52] corteggo opened #8 "Add Swift Package Manager compatibility"
It'd be great to add Swift Package Manager compatibility to this project.

Congratulations for your amazing work.

[2019-09-17 21:31] arturdev commented on #8
Thank you very much for contributing! :)

[2019-09-17 21:31] #8 closed

[2019-09-18 06:51] arturdev commented on #2
@ahmadmssm Have you got a chance to test it?
I'll close this issue in 2 days.

[2019-09-18 14:25] ahmadmssm commented on #2
@arturdev If you do not mind, please give me until the end of next week and i will close it if it is working.

[2019-09-18 16:24] arturdev commented on #2
@ahmadmssm sure

[2019-09-22 15:17] daoan1412 opened #10 "[!] CocoaPods could not find compatible versions for pod "RealmSwift":"
[code]

[2019-09-22 17:09] arturdev commented on #10
Please update your pods.
pod install --repo-update

[2019-09-23 04:22] daoan1412 commented on #10
Thank you. It's works

[2019-09-23 04:22] #10 closed

[2019-09-24 23:56] seljabali opened #11 "Xcode 11 compatibility issue"
Hello,

First, thanks for the awesome library, very benefitting in use!

Xcode 11 has been crashing with:
`Primary key property 'name' does not exist on object 'RealmSwiftPermissionRole'`

It's a known issue that Realm fixed in their latest version [3.18.0](https://github.com/realm/realm-cocoa/releases). If you could update this library accordingly, that'd be great as I can't run my project until

[2019-09-25 07:50] arturdev commented on #11
Hello.
Thanks for the kind words ❤

Are you sure you're using the latest version of Unrealm?

[2019-09-25 08:01] arturdev commented on #11
Anyway, I've updated Realm's version to 3.18.0!

[2019-09-25 18:22] seljabali commented on #11
You're right, I wasn't using the latest version. Apologies. 😅

Thank you so much for getting back to me so quickly as well as addressing it nonetheless!! That's really awesome of you.

Best!

[2019-09-25 18:22] #11 closed

[2019-09-26 18:02] ahmadmssm commented on #2
@arturdev Thanks, it is working now and i can close it, however it refuses to update to version to 0.2.1 and the message is can not find compatible version

[2019-09-26 18:02] #2 closed

[2019-09-27 06:55] arturdev commented on #2
Oh, currently the latest version is 0.2.4 :)

[2019-10-02 14:00] bombel opened #12 "Realmable migration?"
Is there any migration mechanism similar to Realm's one (or any at all) ? If so, how do I use it?

[2019-10-02 16:04] arturdev commented on #12
Migration mechanism? What do you mean?

[2019-10-03 07:36] bombel commented on #12
I mean, possibility of changing database schemas over time, as described in Realm docs https://realm.io/docs/swift/latest/#migrations .

If I understood correctly, Realmable is kind of wrapper for underlying Realm Objects. Thus, ifschema changes, these underlying object has to be migrated somehow?

[2019-10-03 08:59] arturdev commented on #12
Oh, that's a good question.
I'll add migration support today :)

[2019-10-03 11:46] arturdev commented on #12
Done.
You can do the migration exactly like before.

Say you have a struct:
[code]

Then for migbration:
[code]

[2019-10-03 12:22] bombel commented on #12
Wow, that was quick. Cool, thanks!

[2019-10-03 12:59] arturdev commented on #12
You're welcome ;)

[2019-10-03 12:59] #12 closed

[2019-10-08 12:15] bombel commented on #12
Sorry for reopening, one more question: If I have already existing Realm database, is it possible to migrate it into your Realmable thing somehow without dropping entire database?

[2019-10-08 14:42] arturdev commented on #12
If your old Realm classes have some prefix, then may be yes :)

[2019-10-12 18:19] martinstoyanov opened #13 "Is it possible to save a swift array of enums?"
I'm getting this error

my property actions is defined as this:

in a Realmable struct. `Action` is an enum that conforms to RealmableEnum

Any ideas?

[2019-10-12 20:12] arturdev commented on #13
that's a good question... I haven't tested it, but I think it's possible.
I'll check and add this functionality if it is missing.

[2019-10-14 06:50] arturdev commented on #13
It seems it is hard to support saving an array of enums for now..
As a workaround, I can suggest you keep the second array of RawValue type of your enum. And add your actions property to ignoredProperties list.
f.e.

[code]

[2019-10-14 21:29] martinstoyanov commented on #13
Thank you, that's exactly what I ended up doing. I hope it's supported in the future.

[2019-10-30 14:53] muhammadelkady opened #14 "Save swift array of custom object"
I can not save a Swift array of custom objects.
`Terminating app due to uncaught exception 'RLMException', reason: 'Property 'weather' is of type 'RLMArray<RLMWeather>' which is not a supported RLMArray object type. RLMArrays can only contain instances of RLMObject subclasses. See https://realm.io/docs/objc/latest/#to-many for more information.'`
 Here are my data models
[code]

Thanks for help!

[2019-10-30 19:06] muhammadelkady commented on #14
[code]

[2019-10-30 19:09] arturdev commented on #14
Here is the issue. You must register ALL the Realmable types you have in your project.
[code]

[2019-10-31 09:01] muhammadelkady commented on #14
Thank you for your help.

[2019-10-31 09:01] #14 closed

[2019-10-31 18:49] qizh opened #15 "How to deal with this crash?"
I have an app crashing every time when I'm trying to save one data type. I have no problems with others. Is there a way to find out what is causing it and how to change my data struct to fix it?

Here's a crash log:
[code]

The function where it crashes:

[code]

Here's a struct:

[code]

I have all needed classes initialised in didFinishLaunchingWithOptions:

[code]

[2019-10-31 19:50] arturdev commented on #15
I think the reason is the variable named description. Try to name it differently, as NSObject already has a property named description

[2019-10-31 20:43] qizh commented on #15
You were right, thank you! I've renamed the field and now I have another crash with the same struct:

[code]

Any idea about this one?

[2019-11-01 11:18] arturdev commented on #15
Are you sure this crash is from Unrealm?

[2019-11-01 16:20] qizh commented on #15
Yes, it is from Unrealm, from the same place. Here's the backtrace:

[code]

[2019-11-01 16:23] qizh commented on #15
<img width="624" alt="Снимок экрана 2019-11-01 в 18 22 43" src="https://user-images.githubusercontent.com/941415/68039377-a8657b00-fcd4-11e9-8c54-22ac41307369.png">

[2019-11-01 21:35] arturdev commented on #15
Can you please share the ProductFetcher class?

[2019-11-01 22:07] qizh commented on #15
I’ve shared the part of it which is related to Realm and Unrealm – check the “The function where it crashes:” part in the first message. It won’t crash if I don’t call this function.

[2019-11-02 19:15] arturdev commented on #15
Found... Seems optional arrays (`guideSpeaks`, `included`) are not handled well currently.
A workaround could be geting rid of optional arrays in your struct until I fix it.

[2019-11-02 23:53] qizh commented on #15
@arturdev, what is the best way to get rid of optional array here if I use this struct to decode json from the backend where it can have this array or not. Mark this variable as ignored for Unrealm and create another calculated one which would get/set non-optional array? Or is there a better way?

[2019-11-04 10:40] arturdev commented on #15
I think currently the best solution is what you described

[2019-11-04 10:42] arturdev commented on #15
Or, you can implement  `init(from decoder: Decoder)` and check if it can't decode than assign an empty array. The bad thing here is that you'll have to write a lot of decoding code there for your other variables as well.

[2019-11-10 15:04] DouglasHennrich opened #16 "Carthage support?"
There's any carthage support for this framework? Thanks

[2019-11-10 20:19] arturdev commented on #16
Not yet.
Only CocoaPods and SPN for now.

[2019-11-19 13:56] #16 closed

[2019-11-30 11:21] Gargo opened #17 "Can't install"
[code]

[2019-12-01 17:52] arturdev commented on #17
Can you share with me your podfile?

[2019-12-04 07:26] #17 closed

[2019-12-04 17:18] Gargo commented on #17
@arturdev podfile:
[code]
You should at least update 'Unrealm' to make it using Realm 4.x versions

[2019-12-05 11:51] arturdev commented on #17
You don't need `pod 'RealmSwift'`

[2019-12-05 16:39] bryan1anderson commented on #13
Yes this is an important piece for me. I didn't realize this wasn't a feature and got pretty frustrated trying to sift through Realm errors being thrown

[2019-12-05 16:53] Gargo commented on #17
@arturdev ok, but I also want `RealmSwift` of the actual version. If your library doesn't support the latest realm and you don't plan to fix it then you should at least mention it in Readme

[2019-12-05 18:10] arturdev commented on #17
I plan to add support of latest version. Will add in readme currently supported version.

[2019-12-05 19:23] martinstoyanov commented on #13
@arturdev maybe, until it's implemented, we can add a disclaimer to the Readme with a link to this issue so people don't waste time trying to work it out? It could be a pretty cryptic error and not immediately obvious it's caused by Unrealm.

[2019-12-28 20:29] jondwillis commented on #1
@zdnk Before Unrealm, I was doing something like this. Perhaps something similar could be applied to improve performance for `Codable` `Realmables` @arturdev ?

[code]

[2019-12-28 20:33] jondwillis opened #18 "LinkingObjects support?"
Is there a way to use `LinkingObjects`?

`LinkingObjects` expects an `Object` type.

Happy to help implement this, I imagine it would require wrapping `LinkingObjects` to be compatible with `Realmable` instead of `Object`.

[2019-12-31 17:22] arturdev commented on #18
Currently I'm trying to support the latest version of Realm (4.x.x) (they have made a breaking change in the method of reading property names from a class). So any help is appreciated.
Thanks!

[2020-01-02 00:53] jondwillis commented on #18
@arturdev can you describe the breaking change?

[2020-01-02 09:59] arturdev commented on #18
@jondwillis
https://github.com/realm/realm-cocoa/blob/master/RealmSwift/Object.swift#L669-L694
Previously they was fetching property list by using ObjcRuntime, but now they use Swift's Reflection Api (Mirror).
The logic behind Unrealm is the following: create an ObjC class named "RLM" + <YourStructName> inherited from Realm's `Object` clsdd with the same properties that has your swifty struct/clas

[2020-01-13 01:19] martinstoyanov opened #19 "Use newer RealmSwift?"
Currently Unrealm is on 3.18.0. There is 4.3.0 and even 5.0.0 beta.

https://github.com/realm/realm-cocoa/releases

[2020-01-13 06:59] arturdev commented on #19
I know. Starting from 4.0 there is a breaking change in Object.swift which breaks Unrealm, that's why I didn't update yet.

[2020-01-13 21:16] arturdev commented on #19
@martinstoyanov I've bumped version to 4.3.0.
Though Travis keeps failing, the unit tests pass successfully on my local machine.
You will be very helpful if you test on your side as well and share the results.
Thanks!

[2020-01-13 22:26] martinstoyanov commented on #19
Amazing, thank you!

[2020-01-13 23:16] martinstoyanov commented on #19
@arturdev I upgraded and I am getting errors with primary keys:

"Terminating app due to uncaught exception 'RLMException', reason: 'Primary key property 'id' does not exist on object 'RLMBuddy''"

This is what `Buddy` looks like:

`
struct Buddy: Realmable, Codable {
    var id: String = ""
    var userId: String = ""
    var name: String = ""
    var phoneNumber: String = ""

    static func pri

[2020-01-14 05:26] arturdev commented on #19
That's not good. What is your Xcode version?

[2020-01-14 05:27] arturdev commented on #19
@martinstoyanov

[2020-01-14 12:58] arturdev commented on #19
@martinstoyanov  Updated to 1.0.1. Travis is green now. Please confirm that it works on your side as well. Thanks!

[2020-01-14 13:03] arturdev commented on #18
@jondwillis Happy to announce that it is fixed now and RealmCocoa's version is bumped to the latest on!

[2020-01-23 12:19] af2446 opened #20 "enums not working"
i try to use enum inside an object and it's returning the following error

error STACK:

	0   CoreFoundation                      0x00007fff23c4f02e __exceptionPreprocess + 350
	1   libobjc.A.dylib                     0x00007fff50b97b20 objc_exception_throw + 48
	2   Realm                               0x0000000110d97ff1 -[RLMProperty setTypeFromRawType:] + 2673
	3   Realm

[2020-01-23 12:37] arturdev commented on #20
All enums should conform to `RealmableEnum`
https://github.com/arturdev/Unrealm#usage

[2020-01-24 11:05] arturdev commented on #20
@af2446 Please lmk about results

[2020-01-28 16:14] #20 closed

[2020-01-28 16:14] #19 closed

[2020-01-30 01:38] JARMourato opened #21 "Installing as a SwiftPackage fails"
Tried Installing by adding this line:
`.package(url: "https://github.com/arturdev/Unrealm", from: "1.0.1")`

or this (since the line above does not use the latest version that includes Realm 4.3.0)

``.package(url: "https://github.com/arturdev/Unrealm", .branch("master"))``

<img width="1400" alt="image" src="https://user-images.githubusercontent.com/7236944/73412584-f48a8080-4300-11ea-8124-78f365

[2020-01-30 08:12] arturdev commented on #21
Can you please try from tag v0.2.5?

[2020-01-30 10:59] JARMourato commented on #21
using that tag works @arturdev - but then I'll be using an outdated version

[2020-01-30 18:08] arturdev commented on #21
I will update SPM in a few hours.. stay tuned

[2020-01-30 18:20] arturdev commented on #21
Please try again. I released a new version: [1.0.2](https://github.com/arturdev/Unrealm/releases/tag/1.0.2)

[2020-01-31 13:21] JARMourato commented on #21
I tried 1.0.2 and I still got the error from the image above when building.

[2020-01-31 18:23] arturdev commented on #21
Found the reason.. The thing is that SPM currently doesn't support importing Swift package target into ObjC package target.
So if you want to use Unrealm with RealmSwift's latest version, you should install it by cocoapods.

[2020-01-31 18:23] #21 closed

[2020-02-01 20:49] Jerry64 opened #22 "Problem with JSONSerialization with Int as key"
Hello,
I'm migrating my Object models to Realmable, but I have a problem with a data type I'm trying to save.

I have a data model defined like this :

` struct WorkoutRoutine: Realmable, Codable {

    var id: String = UUID().uuidString
    var name: String = ""
    var bodyPart: String = ""

    var type: String = "normal"
    var globalRestTimer: Double = 0.0
    var exerciseSpecificRestTimer:

[2020-02-02 10:47] arturdev commented on #22
I just released v1.0.3. Please update on your side and try again.

[2020-02-02 17:52] Jerry64 commented on #22
Thanks for your quick answer!

The same exception gets thrown, but this time, the exception is not throwing inside
`realm.add()`,

and I can't find where it is called from exactly.

![Screen Shot 2020-02-02 at 12 51 42 PM](https://user-images.githubusercontent.com/5474100/73612567-d485e600-45ba-11ea-8009-6ea71d03f0a4.png)

[2020-02-02 18:06] Jerry64 commented on #22
Okay, that's weird.

The method `convert` does not get called anymore, that's why it's not throwing anymore.

I'm doing a clean build to see if that might be the issue.

[2020-02-02 18:24] Jerry64 commented on #22
Okay, so that seemed to have done the trick.

It was probably using an old cached version of the model, with invalid keys (Int). A clean build did the trick.

Thanks a lot!!

[2020-02-02 18:24] #22 closed

[2020-02-02 18:34] arturdev commented on #22
Thank you for finding this bug! ;)

[2020-02-04 23:25] Jerry64 opened #23 "Problem with Optionals Dictionnary when retrieving data (Data)"
Hi !

I have a problem deserializing `Data` attribute of my model, when it's type is an optional Dictionary.

Here's an exemple of my model:

`
var id: String = UUID().uuidString
var name: String = ""
var bodyPart: String = ""

var type: String = "normal"
var globalRestTimer: Double = 0.0
var exerciseSpecificRestTimer: [Int: Double] = [0: 0.0]

var exercises: [Exercise]?
var exercisesTargetSets: [

[2020-02-05 03:08] #23 closed

[2020-02-05 03:08] Jerry64 commented on #23
I've figured out that it won't work with Optionals, so I've adjusted my code to reflect that.

Everything is working fine now.

[2020-02-08 06:18] Jerry64 opened #24 "Problem with NSKeyedArchiver"
Hi,

I'm trying to save a simple model to the Realm, but somehow, the new version using NsKeyedArchiver is throwing an exception.

`Error Domain=NSCocoaErrorDomain Code=4866 "The data couldn’t be written because it isn’t in the correct format." UserInfo={NSUnderlyingError=0x60000168e8e0 {Error Domain=NSCocoaErrorDomain Code=4864 "This decoder will only decode classes that adopt NSSecureCoding. Cla

[2020-02-08 13:38] arturdev commented on #24
Does the problem exist even if you change `SomeArray` with `String`?

[2020-02-09 20:45] Jerry64 commented on #24
It's working just fine when changing it to a `String`.

[2020-02-10 06:15] Jerry64 commented on #24
I'm trying to save an object from another model, inside an array, inside that dictionary.

So basically, this is what i'm trying to achieve:

`var dictionary: [Int: [DataModel]] = [:]` :

`struct DataModel: Realmable, Codable {

}

[2020-02-10 07:37] arturdev commented on #24
Currently saving an array of objects in a dictionary is not supported.
As a workaround, I can suggest you do the following:
1.  Add a new private variable with type: [Int: String] (say `var underlyingDic: [Int: String] = [:]`
1. Add your old variable to the ignored list
3. In the setter of your old variable convert your array of `Codable`s  to json string, and assign to the newly created variable

[2020-02-10 17:12] #15 closed

[2020-02-12 23:13] jondwillis opened #25 "Unit Test Target Crash"
Hi!

I'm getting a crash in my unit test target, in `Realm.registerRealmables(...)` -- it loads my AppDelegate, which calls the former method.

Specifically, I am getting an `EXC_BAD_ACCESS` on line 53 of `NominalMetadataType.swift`.

More specifically, `numberOfFields()` is what is crashing. The field is an empty `[String]`

[2020-02-13 06:55] arturdev commented on #25
Can you share some code?

[2020-02-13 18:55] Jerry64 commented on #24
Hi !

Sorry for the late answer. I've implemented your idea, and it's working like a charm. Nice workaround that'll do the trick for now.

I hadn't thought about it.

Thanks for your help. I'll let you close the issue if you want to close it, or leave it open for now.

[2020-03-09 07:08] arturdev commented on #25
Closing this issue due to inactivity

[2020-03-09 07:08] #25 closed

[2020-03-09 07:09] #24 closed

[2020-03-16 05:51] flocked opened #26 "MacOS support"
Would it be possible to add MacOS support to Unrealm. Which area of the code is currently preventing Unrealm to run on Mac and needs to be adopt?

Thanks,

[2020-03-16 06:29] arturdev commented on #26
In theory, it should also work on macOS. I haven't used anything iOS specific.
You just need to try it.
Please update the issue after.
Thanks

[2020-03-19 22:33] arturdev commented on #26
@flocked From now on Unrealm supports macOS  as well!

[2020-03-19 22:33] #26 closed

[2020-03-19 23:17] flocked commented on #26
Wow that was fast. Thanks :)

[2020-03-27 21:22] arturdev commented on #13
@bryan1anderson @martinstoyanov Great news! ;)

[2020-03-27 21:22] #13 closed

[2020-03-27 22:48] martinstoyanov commented on #13
Love it, thanks so much!!!

[2020-03-28 13:33] arturdev commented on #13
Glad to hear that!

[2020-03-31 19:46] AdMeen89 opened #27 "Need to add linter to the project"
Need to add linter to a project for making easier the support from other people. Also, the source code has inconsistent indents, for example, see below

- [1st](https://github.com/arturdev/Unrealm/blob/824ca5da9fc9755f468e59c6e4013686a0371fec/Unrealm/Classes/Swift/Results.swift#L30)

- [2nd](https://github.com/arturdev/Unrealm/blob/824ca5da9fc9755f468e59c6e4013686a0371fec/Unrealm/Classes/Swift/Res

[2020-03-31 22:14] arturdev commented on #27
Yep, you're totally right.
Any help with that will be appreciated.

[2020-04-18 02:09] martinstoyanov opened #28 "Add support for Swift Package Manager for the latest version?"
Possible to add support not just for 0.2.5? Thanks! This is what I get now if I try to build SPM unrealm on Catalyst:

<img width="1492" alt="Screen Shot 2020-04-17 at 10 12 11 PM" src="https://user-images.githubusercontent.com/7541813/79625663-7d42dc80-80f8-11ea-90f0-8fbe00883234.png">

[2020-04-18 07:28] arturdev commented on #28
Unfortunately no, it is not possible at the moment

[2020-04-19 20:28] arturdev commented on #28
@martinstoyanov Can you please test it from the [SPM](https://github.com/arturdev/Unrealm/tree/SPM) branch?

[2020-04-22 17:37] arturdev commented on #18
I'm closing this issue since Unrealm will not support LinkingObjects for near future

[2020-04-22 17:37] #18 closed

[2020-04-24 10:24] martinstoyanov commented on #28
@arturdev Tested and works like a charm. Thank you very much!!!

[2020-04-24 10:24] arturdev commented on #28
Thank you too!!

[2020-04-24 10:27] #28 closed

[2020-04-26 05:20] Priva28 opened #29 "Casting custom class fails."
I'm not sure if this is just an error with my code but I have a Realmable that looks like this:

[code]

The attributes is a class that looks like this:
[code]

and multiple other custom classes can inherit from EntityAttributes like this:
[code]

Now when I save say for example a LightEntity, as the attributes variable of the AnyEntity Realmable this works fine.

[code]

But when I try to access

[2020-04-26 12:53] arturdev commented on #29
@Priva28 Thanks for opening this issue. Can you please provide a small demo project where I can reproduce this issue?

[2020-04-26 17:15] arturdev commented on #29
The thing is that Realm itself doesn't support inheritance fully. In your case you're trying to save a an object of a derived class into another realmable object, which Realm doesn't support.
So this issue is more relevant to them ([RealmCocoa](https://github.com/realm/realm-cocoa)) rather to Unrealm.

[2020-04-26 17:15] #29 closed

[2020-05-06 08:42] lingolab2 opened #30 "Question: Does Unrealm support Realm objects with optional properties?"
Question: Does Unrealm support Realm objects with optional properties?
e.g.
struct Jukugo: Realmable {
  public let id: Int? = 0
  public let nameString: String? = ""
  public let address: String? = ""
  public let pinCode: Int? = 0

  static func primaryKey() -> String?
  {
    return "id"
  }
}

[2020-05-06 10:01] arturdev commented on #30
Yes, it does.
Are you facing any issue with it?

[2020-05-06 11:52] lingolab2 commented on #30
This is my code extract and no warnings or errors. I don’t know if it’s a Unrealm usage issue or a Realm usage issue.

import Foundation
import Unrealm
import Realm
import RealmSwift

struct Jukugo: Realmable {
  public let id: Int? = 0
  public let jukugoString: String? = “"
  ...
  public let frequency: Int? = 0

  static func primaryKey() -> String?
  {
    return "id"
  }
}

func initializeDat

[2020-05-06 12:15] arturdev commented on #30
Have you added any object of type `Jukugo` before?

[2020-05-06 13:09] lingolab2 commented on #30
No, I have a pre-existing populated database created by RealmStudio from a csv-file.
I have done this as well:
    Realm.registerRealmables(Jukugo.self)

[2020-05-06 13:35] arturdev commented on #30
The way Unrealm works is that it created an objective-c pair class with RLM prefix for every Realmable you register. F.e. in your case it creates a class named `RLMJukugo`. So if you're creating object outside of the app make sure that the table name is `RLMJukugo` and not just `Jukugo`

[2020-05-06 13:47] lingolab2 commented on #30
I've renamed, recreated and embedded the realm database within the app bundle.
I still face the issue. I think I have something basically wrong. No realm errors/warnings.
But no rows returned.
![Screenshot 2020-05-06 at 19 14 57](https://user-images.githubusercontent.com/29536555/81184460-0fd6ed00-8fce-11ea-80c9-b86d1a468905.png)

[2020-05-06 13:49] lingolab2 commented on #30
I've renamed, recreated and embedded the realm database within the app bundle.
I still face the issue. I think I have something basically wrong. No realm errors/warnings.
But no rows returned. (sorry closed it by mistake earlier)
![Screenshot 2020-05-06 at 19 14 57](https://user-images.githubusercontent.com/29536555/81184769-6cd2a300-8fce-11ea-91ee-23c61dd5cf76.png)

[2020-05-06 13:51] arturdev commented on #30
Can you send me an example project with the db you created?

[2020-05-06 14:05] lingolab2 commented on #30
[default.realm.zip](https://github.com/arturdev/Unrealm/files/4587223/default.realm.zip)

[2020-05-06 14:07] lingolab2 commented on #30
![Screenshot 2020-05-06 at 19 24 16](https://user-images.githubusercontent.com/29536555/81186869-f2efe900-8fd0-11ea-963d-3cf7ed197a59.png)

[2020-05-06 14:11] lingolab2 commented on #30
[ToGitHub.zip](https://github.com/arturdev/Unrealm/files/4587263/ToGitHub.zip)

[2020-05-06 19:00] arturdev commented on #30
Few issues here..
At first, you need to copy the bundled realm to a place from where Realm can read it.
Secondly, you need to configure the Realm property by setting the right URL for the copied realm db.
And third, in the default.realm you've attached the `id` field is of type `Int?`, but primary keys can't be an optional type! So something went front during importing from csv, as id must be `int

[2020-05-07 03:18] lingolab2 commented on #30
As mentioned by you, it's indeed a working example. I did notice that RealmStudio is generating optionals for all fields when converting from CSV, and I'll figure out why. Please close this and thank you for all your help.

[2020-05-07 07:45] arturdev commented on #30
You're welcome!

[2020-05-07 07:45] #30 closed

[2020-05-13 21:23] Venkata-Maniteja opened #31 "How to fetch swift dictionary stored in realm ?"
I have this field in a struct Contact.

var customFields: [String: String?]?

I'm able to store this field in realm.  It is storing as data field.

But when I try to fetch the contact and read it, the custom fields are empty.

Do I have to manually convert data. back into swift dicionary ?

At which level, do I have to do this conversion ?

Info:

At the line:

      let results = self.objects(cls

[2020-05-14 09:32] arturdev commented on #31
Actually Unrealm should do all the conversions automatically. If you can provide an example project where I can reproduce this issue, probably I can fix that.

[2020-05-14 11:08] Venkata-Maniteja commented on #31
@arturdev HEre is the sample one. It has a sample realm db with demo data and a method to fetch
[TestUnRealm.zip](https://github.com/arturdev/Unrealm/files/4627850/TestUnRealm.zip)
the data back.

[2020-05-14 21:37] arturdev commented on #31
You're using SPM or cocoapods?

[2020-05-15 14:30] Venkata-Maniteja commented on #31
@arturdev I tried cocopods, but it gave me not supported to macos target. So I ddonwloaded the source, and added in the project manually. I tried the latest release.

[2020-05-15 14:45] arturdev commented on #31
Actually the latest pod version supports macos targets

[2020-05-15 21:13] arturdev commented on #31
Ok so the issues are the following:
At first, Unrealm doesn't support optional Dictionaries yet. Secondly, as you've set `id` as primary key, it can't be optional.

See the working project.
[TestUnRealm.zip](https://github.com/arturdev/Unrealm/files/4637137/TestUnRealm.zip)

[2020-05-16 14:28] Venkata-Maniteja commented on #31
awesome, thanks for the quick response.  I'll try that.

[2020-05-17 10:33] lingolab2 opened #32 "Realm program crashes while opening realm database"
_program crashes when trying to open realm database._

[code]
_The debugger gives me a hint that it is in the object table `Kanji` and near column `kunYomis_`

[code]

_This is the definition of the database as shown by RealmStudio when generating Swift model definition_

[code]

_Have been at it since yesterday, couldn't figure out what could be wrong.
Able to open the database with RealmStudio a

[2020-05-17 15:07] arturdev commented on #32
Can you try to give it an explicit type?
[code]

[2020-05-18 02:03] lingolab2 commented on #32
unfortunately, no positive impact.

[2020-05-18 02:44] lingolab2 commented on #32
Get similar crash even working with another object RLM_Kotowaza with an array. The problem is therefore not specific to RLMKanji.

[2020-05-18 07:15] lingolab2 commented on #32
Don't know if this is really a Realm issue, Unrealm issue or a combination.
Have instead decided to use a different approach using a Persistable protocol (https://gist.github.com/gonzalezreal/9d297c68435b9ee12bb1b009afd41d9a)
instead of Unrealm.

[2020-05-18 07:15] #32 closed

[2020-05-18 10:54] arturdev commented on #32
Could you please send me an example project where can reproduce the crash?

[2020-05-18 10:56] lingolab2 commented on #32
Can I send it via direct email?

[2020-05-18 13:27] arturdev commented on #32
Sure. Thanks!

[2020-05-22 21:39] zeitoun26 opened #33 "__nilProperties"
Hello. I'm curious why was this code below added? I reinstalled my app and it worked but just curious why I have this in my database now. It's just an empty array so not sure what it's for.

	addPropertyToClassIfNeeded(className: className, name: "__nilProperties", typeStr: "Array<String>")

[2020-05-23 08:06] arturdev commented on #33
Hi. This property is added by Unrealm for the proper handling of the optional Swift specific properties (like optional Swift Arrays, dictionaries, etc..). This is private property and you should not take attention to it ;)

[2020-05-23 08:06] #33 closed

[2020-05-23 09:36] #31 closed

[2020-05-26 11:11] Tommecpe opened #34 "Configure realm class prefix"
Thank you for your awesome Lib ! really nice to use.

I have a question: is there a way to change the `realmClassPrefix` set at **"RLM"** in `RealmableBase` ?

I'm using a full-sync read-only Realm and cannot change the classe name: "myClasse". So I would Like to set the `realmClassPrefix` to ""

I've tried:

[code]

But It doesn't seam to affect the classe name.

I've also tried:

[code]

But it

[2020-06-03 08:58] steelzeh opened #35 "Add carthage support."
Sucks to use Cocoapods, when the requirements are Realm.
Build time increases by 30 minutes for bigger projects.

Please add carthage support.

[2020-06-03 14:31] owenzhao opened #36 "When will Unrealm support Realm 5.x?"
For now, I keep Realm under 5.0 to use Unrealm.

[2020-06-03 14:34] arturdev commented on #36
I will update the Realm version during the next ~2 days

[2020-06-11 05:41] owenzhao commented on #36
4x2 now... Any progress?

[2020-06-11 18:47] arturdev commented on #36
Bumped to the latest release (was waiting for v5.0.3).
Closing this issue.

[2020-06-11 18:47] #36 closed

[2020-07-06 18:08] Dulatheo commented on #35
add carthage support please!

[2020-07-08 11:02] d-yurchenko opened #37 "Wrong extraction of some properties"
Was testing simple struct:
[code]

like this:
[code]

Found out problem  with extracting properties with _0_ or _false_ value. Problem appears at this func:
<img width="1170" alt="Screenshot 2020-07-08 at 17 40 41" src="https://user-images.githubusercontent.com/62376372/86910806-70a4b200-c144-11ea-948a-6a4d6df7a40d.png">
And `guard let value = obj.value(forKey: propertyName)` fails for such proper

[2020-07-08 13:55] arturdev commented on #37
Instead of this
` self.init(id: -1, name: "", readOnly: true, enabled: false)`
do this:

[code]

[2020-07-08 14:10] d-yurchenko commented on #37
You can do this only with `var` properties, otherwise you'll have an error `"Immutable value 'self.id' may only be initialized once"`.

Even then the problem won't be solved, `mutating func readValues(from obj: Object)` is from `Unrealm.swift`. In Objc `0 == nil`, and `obj.value(forKey: propertyName)` returns `nil` instead of `0`. I guess this func doesn't have to work like this.

You can define d

[2020-07-08 14:48] d-yurchenko commented on #37
[code]

This is the result for your variant. Unrealm still couldn't read `0` from `obj: Object`

<img width="236" alt="Screenshot 2020-07-08 at 21 39 17" src="https://user-images.githubusercontent.com/62376372/86932431-8f667100-c163-11ea-8f9b-a94f2b761094.png">

[2020-07-09 11:58] arturdev commented on #37
Could you please provide a minimal reproducible example project so that I can run it locally and test/fix?

[2020-07-09 14:46] d-yurchenko commented on #37
I've managed to fix problem with `Int` and `Bool` values (actually don't sure how "good" is my solution), but there's still problem with Float.

In Podfile set path to my forked repo, remove it to test it with origin.

[Unrealm_test.zip](https://github.com/arturdev/Unrealm/files/4897496/Unrealm_test.zip)

[2020-07-17 01:41] winstondu opened #38 "Realm object observing?"
Hey Arturo!

This seems like an amazing library. However, one useful paradigm we use (with RxRealm) is the ability to observe changes on an object in the realm db and register a callback.

This function is the `public func observe<T>(on queue: DispatchQueue? = nil, _ block: @escaping (RealmSwift.ObjectChange<T>) -> Void) -> RealmSwift.NotificationToken where T : RealmSwift.Object`.

Does the fact

[2020-07-17 08:18] arturdev commented on #38
Hi @winstondu. Unfortunately yes. The observing which you're looking for is done using ObjectiveC's KVO mechanism... And as you might already know,  Swift native types don't support KVO

[2020-07-17 08:24] winstondu commented on #38
I see. But in your library, any write to the `Realmable` object will still be enclosed in a `Realm.write` no?

Is there no way to know whether the `Realmable` is updated (even if we don't know which properties are)?

[2020-07-17 10:26] Venkata-Maniteja opened #39 "How to improve performance on large datasets ?"
Hi,

I'm using unrealm to support structs as realm objects. However this comes with a performance hit.

I observed few things. LEts say there are 10k records in realm.

Reading the results from realm is pretty quick, its less than a second for those 10k items.

And when I try to convert them into an array,  it becomes too slow. It is only converting 100 items per second into an array, so for 10k i

[2020-07-17 10:47] arturdev commented on #39
I'm already working on some optimization/caching the schemes which seem take a long time/.
Will release a new version in a few days.

[2020-07-17 10:48] arturdev commented on #38
Yes, that is possible, but as you already mentioned, you will not know which property exactly was changed.

[2020-07-17 20:16] winstondu commented on #38
@arturdev , what would be the function when using this library to make change observations?

[2020-07-31 21:17] AngCosmin opened #40 "Optional Enum Problem"
Hey @arturdev

I found this library and it's awesome! But I found a small issue (I think 😅).

I am having this enum and I registerd it inside AppDelegate

[code]

And this class which is using the enum. (also registered)

[code]

And I am getting this error at the build time

[code]

It's a little bit strange because if I declare it as `var ageRange: AgeRange` (without optional) or `var ageRange:

[2020-08-01 04:55] arturdev commented on #40
Hi.
What is `RealmableEnumString`?

[2020-08-01 10:53] AngCosmin commented on #40
Hey,

Thanks for the answear. It's from your library:

https://github.com/arturdev/Unrealm/blob/master/Unrealm/Classes/Swift/Unrealm.swift#L31

I also tried with `RealmableEnum` and it's still not working

[2020-08-11 05:32] DanBurkhardt commented on #39
@arturdev was this enhancement ever released?

Thanks,
Dan

[2020-08-21 12:02] PhilippeWeidmann opened #41 "SPM branch behind master"
The SPM branch seems behind the master one and only supports Realm 4.X instead of Realm 5.X. Is it normal ?

[2020-09-16 21:07] TheLuckyWan opened #43 "Problem with compaction"
Hello,

I'm trying to make a Realm Compaction (will be triggered once in a while in RELEASE app), but somehow, using Unrealm prevents such a thing.

I'm trying to make the compaction has soon as the app has launched, but a thread has already opened a Realm instance.

If I try to make the compaction without registering Realmable, it doesn't work (as expected), but if I register them correctly, they

[2020-09-17 17:15] arturdev commented on #43
what do you mean by saying Realm Compaction?

[2020-09-22 02:50] TheLuckyWan commented on #43
By either passing:

`shouldCompactOnLaunch: { total, used in
//custom logic
                return true }`

of by calling `realm.writeCopy` on the Realm.

Right now, even if I do either in the AppDelegate's didLaunchWithOptions it's already opened on a thread, which prevents compaction of the database. I have to do this from time to time to keep the size of the realm minimal.

Thanks !

[2020-10-11 08:24] wiencheck commented on #41
I also noticed this, can't update my dependencies because of it.

[2020-10-18 09:12] martinstoyanov commented on #41
+1, thanks!!!

[2020-10-30 02:26] nfasate opened #45 "How to store bulk data in realm"
I am getting error while storing data using List<Object>() and [Object] in realm.

Struct object getting below error:
![Screen Shot 2020-10-30 at 7 51 01 AM](https://user-images.githubusercontent.com/8841866/97652581-b6cfa980-1a84-11eb-9b5e-739315cfe6fe.png)

While storing array [Object] getting below error:
![Screen Shot 2020-10-30 at 7 49 59 AM](https://user-images.githubusercontent.com/8841866/

[2020-11-02 22:45] martinstoyanov opened #46 "Realm 10 support?"
Hi! Any plans for including Realm 10.x support?

[2020-11-04 12:32] arturdev commented on #46
Hi. Yes, I'm working on it. In a few days will update the podfile

[2020-11-04 22:31] #45 closed

[2020-11-05 07:44] toptomsk opened #47 "Does Unrealm support associated values Enum ?"
I have problem with my struct model, it's generate from google protobuf and has an enum look like this:
enum OneOf_Doc: Equatable {
    case art(My_Model)
    ...
}
With normal enum i can make it RealmableEnum but not to this type.
How do u guys deal with this ? Thanks

[2020-11-05 13:47] mladjan opened #48 "Performance issue"
I have hit a performance issue with Unrealm. My Structure is:

Stint (1 instance only):
    - Has 8 Lap relations (one to many)
            - Lap has 3k - 6k location objects (one to many)

When I do something simple like:
`        let stints = realm.objects(Stint.self)

        for stint in stints{
            if(stint.laps.count>0){
                allStints.append(stint)
            }
        }

[2020-11-05 16:40] arturdev commented on #47
Unrealm doesn't support associated enum values

[2020-11-08 14:46] mladjan commented on #39
Is there any updates on this topic?

[2020-11-17 10:59] SNThunderbolt opened #49 "enums with associated values"
Hi I have this **enum** with **associated types**

[code]

where each `SugarLogCreate`, `CarbLog ` and `WeightLog ` are structs conforming to`Realmable `

I get this error that tells me I have not conformed to `RealmableEnums`
**"Type 'LogValue' does not conform to protocol 'RealmableEnum'"**
 and makes me put these methods in my code which I have no idea what to do with them:

[code]

What should

[2020-11-17 12:18] SNThunderbolt commented on #49
just a quick note:
I have added these protocol stubs as follows:

[code]

But I have absolutely no idea how deal with the third one:
`static var rawValueType: Any.Type`

[2020-11-24 14:37] pushchris commented on #46
Are there any updates to when support for Realm 10.x will be available?

[2020-11-24 14:38] arturdev commented on #46
They have done some breaking change. So can tell when exactly the new version will be ready..

[2020-11-27 04:57] #43 closed

[2020-11-30 20:56] ArthurHenriqueVieira commented on #40
Hello, any answer for this question?

[2020-12-01 08:44] arturdev commented on #40
I'm afraid optional enums are not supported currently

[2020-12-25 09:23] HKdAlex commented on #39
Would be interesting to know if there has been some development.

[2020-12-26 18:41] arturdev commented on #48
Are you sure that this is related to Unrealm? This library shouldn't impact on the performance of loops

[2020-12-26 20:37] arturdev commented on #46
I've finally solved it and updated Realm version to the latest one

[2020-12-26 20:37] #46 closed

[2020-12-27 00:46] martinstoyanov commented on #46
Woo you're the best @arturdev ! Happy holidays! 🎄🎄🥳

[2021-01-05 14:44] quentinfasquel opened #50 "CGFloat, CGPoint, CGSize.. tuples ?"
Hey there,

I am trying to have a simple struct to be Realmable...

[code]

I am adding extension `RealmableEnum` on each of these, matching Float, tried with `NSNumber(cgPoint: )` and with `NSCoder.string(cgPoint:)`.. is there a way to do so ?

Or should I basically just save JSON strings for each object, generated by Codable ?.. sounds less efficient to me

[2021-01-06 10:14] arturdev commented on #50
Can you please be more specific what is the issue here?

[2021-01-07 03:36] toanbuidjv opened #51 "Please update Realm version"
Can see Realm version too old, please update to newer
<img width="400" alt="Screen Shot 2021-01-07 at 10 34 34 AM" src="https://user-images.githubusercontent.com/75288800/103847967-f09bdc80-50d3-11eb-9bb7-f08e1a56154f.png">

[2021-01-07 12:53] quentinfasquel commented on #50
[code]

This triggers the following error **Property 'position' is declared as 'CGPoint', which is not a supported RLMObject property type. All properties must be primitives, NSString, NSDate, NSData, NSNumber, RLMArray, RLMLinkingObjects, RLMDecimal128, RLMObjectId, or subclasses of RLMObject. See https://realm.io/docs/objc/latest/api/Classes/RLMObject.html for more information. (RLMException)**

[2021-01-07 12:55] quentinfasquel commented on #50
What I would expect to be able to do is somehow this :
[code]

But this ends up to the same error. Do you think possible to automatically implement `RawRepresentable` as direct values (not objects) when the RawValue is a supported type ?

[2021-01-12 07:36] arturdev commented on #50
You can't save tuples, but I'll try to add support of CG types

[2021-01-13 19:39] Ludicrous2k opened #52 "Properties don't save to realm"
Hi just found this and it's so nice to have the ability to use swift types instead of realm types! Keep up the good job!

I have a question about some types of properties that i'm not sure if they are supported or not but i saw one of them in your User object example so i thought maybe they would be. When I init the struct and print it out, I can see all those values. After i save them into realm

[2021-01-14 07:03] raphimulator commented on #51
sadly this only affects the SPM branch. `master`/CocoaPods get to have the latest Realm Version.https://github.com/arturdev/Unrealm/blob/be84d0dcd4244e3658e6125007bf256c188a44d7/Unrealm.podspec#L37

[2021-01-14 12:18] arturdev commented on #51
There were issues with SPM before. For some reason, it was not working with the latest realm version by that time.
I will try to update the package to 10.5.0 and see whether it still has an issue or not

[2021-01-23 20:04] jondwillis commented on #51
@arturdev I updated a fork of mine to use the latest Realm, but I received crashes at runtime related to `RealmableEnum`

Was this one of the problems you faced?

[2021-01-25 07:21] arturdev commented on #51
Yes, that was one of the problems I have faced

[2021-02-21 20:10] X901 opened #53 "Please update to suppourt Realm 10.5.1"
Please update to suppourt Realm 10.5.1

[2021-04-19 16:55] kndahl opened #54 "Version solving failed"
Cannot add Unreal at my project. Here is the issue:
because root depends on realm-cocoa 5.0.3..<6.0.0 and root depends on realm-cocoa 10.5.0, version solving failed.

[2021-04-19 16:57] kndahl commented on #54
SPM branch

[2021-04-19 17:31] #54 closed

[2021-04-23 07:37] #47 closed

[2021-04-23 07:37] #48 closed

[2021-04-28 15:37] ionut-lucaci opened #55 "Please update to support Realm 10.7.4"
https://github.com/realm/realm-cocoa/issues/7228 -> This issue was solved in this version and it's holding us from releasing the app which **must** support a deployment target of iOS 12. Thanks

[2021-04-29 12:31] arturdev commented on #55
Will do during the next two days

[2021-04-30 09:26] kevin-zqw commented on #55
Thanks very much, I also need this new version.

[2021-05-02 14:07] arturdev commented on #55
Done!

[2021-05-02 14:07] #55 closed

[2021-05-02 14:07] arturdev commented on #53
updated to the latest

[2021-05-02 14:07] #53 closed

[2021-05-10 09:09] HasanYaakoubToothpick opened #56 "Crash in Realm+Unrealm.swift"
Could not cast value of type 'RLMUser' to 'RealmSwiftObject'.
Line 38
`let cls = (NSClassFromString(realmClass) ?? NSClassFromString(realmTypeName)) as! Object.Type`
this is crashing when I am trying to call `realm.objects(User.self)`

[2021-05-10 11:07] arturdev commented on #56
Hi.
The thing is that in the Realm source code there is already a class called RLMUser.
So in your "User" class you should override the rlm prefix to something else to not conflict with Realm's RLMUser.

[2021-05-11 09:14] HasanYaakoubToothpick commented on #56
Hello @arturdev

I was facing this issue and searched a lot for a solution but found nothing,
The exception message was misleading.
I tried to override `realmClassPrefix` it works for me

Thank you

[2021-05-11 09:14] #56 closed

[2021-05-14 05:45] robmontesinos commented on #41
I had to switch over to Pods even though I prefer Swift Packages. +1

[2021-05-14 05:54] robmontesinos commented on #12
I tried to enable Migration following the above instructions regarding version 0.2.5 and got the following cocoa pod error:

[!] The platform of the target `InsightMacOS` (macOS 10.15.1) is not compatible with `Unrealm (0.2.5)`, which does not support `macOS`.

Is this library still active or should I move onto to another approach?

[2021-06-04 03:44] NortromInsanlyDev opened #57 "How to update only some properties of record?"
How can I update only some properties with keeping old other properties?
Seems like Realm.create(_ : value: update) is not implemented.
Thanks for this awesome repo.

[2021-06-05 18:54] arturdev commented on #57
Can you bring an example of what you want to achieve?

[2021-07-10 09:12] DedicatedDev opened #58 "variable name problem."
Hello.
Library trigger issue named variable "description"

struct TestData:Realmable{
     var description:String?
}

the instance of this structure can't be registered.
issue is in variable name.
I guess it has be fixed.

[2021-07-12 08:06] arturdev commented on #58
Hello.
I wouldn't recommend to use a variable named  `description` because it is already reserved by NSObject class

[2021-08-06 23:04] flocked opened #59 "Problem using enum"
I'm trying to use an enum. This is my code:

[code]

This gives me the error:
`Property 'genre' is declared as 'Genre', which is not a supported RLMObject property type. All properties must be primitives, NSString, NSDate, NSData, NSNumber, RLMArray, RLMLinkingObjects, or subclasses of RLMObject.
`

It seems the Genre enum isn't registered. Any idea why?

[2021-08-06 23:20] flocked commented on #59
Just found out that Enums can't be optional.
It would be useful to add this information to the readme :)

[2021-08-06 23:20] #59 closed

[2021-08-07 13:47] arturdev commented on #59
In the readme is listed all the supported types :) Optional enums is not listed there ;)

[2021-09-15 11:25] anacronistico opened #60 "can't build on xCode 13 RC"
Hi,
 pod can't be build on xCode 13 RC. I think unrealm need to update its realm dependency to last version

[2021-09-22 16:45] ionut-lucaci commented on #60
Hello, in the meantime xcode 13 has been released and unrealm still does not work.

[2021-09-22 18:14] arturdev commented on #60
i'm currently looking into it

[2021-09-22 19:13] #58 closed

[2021-09-22 20:40] arturdev commented on #60
I just released a new version.
Please try this one

[2021-09-23 13:38] ionut-lucaci commented on #60
It does work, thanks a lot!!!

[2021-09-23 14:10] #60 closed

[2021-09-23 14:14] arturdev commented on #34
The only way to change the RLM prefix is by overriding the realmClassPrefix method

[2021-09-23 14:14] #34 closed

[2021-09-27 05:50] arturdev commented on #49
Storing enums with associated values is not supported.

[2021-09-27 05:50] #49 closed

[2021-09-27 05:50] #40 closed

[2021-09-27 05:53] arturdev commented on #50
I've found out that CG type (CoreGraphics) shouldn't be stored in the realm. Therefore I leave it as it

[2021-09-27 05:53] #50 closed

[2021-10-26 07:13] IAFung opened #62 "Bool can't add to realm"
When `Bool` default value is 'true', can't save to realm
I changed the demo
[code]
when I set the 'isCompleted' default value is true.
can't save the false to the realm

[2021-11-19 04:32] MercurialKZ opened #63 "Xcode 13 support"
![2021-11-19 10 32 22](https://user-images.githubusercontent.com/36929402/142565343-8af367fe-8762-497c-8212-841a4c67255f.jpg)

[2021-11-19 06:39] arturdev commented on #63
Are you sure that the Realm pod itself is compatible with your project?

[2021-11-19 06:41] MercurialKZ commented on #63
compatible, Xcode 12.5.1 everything works, but in  13  can not run

[2021-11-19 06:44] MercurialKZ commented on #63
version  pod 'Unrealm', '1.9.1'

[2021-11-19 06:46] arturdev commented on #63
I mean, according to the screenshot you posted, the issue is with the RealmSwift framework, and not from Unrealm framework.  Please, try to install only RealmSwift framework without Unrealm to make sure that the RealmSwift itself works for you.

[2021-11-19 07:04] MercurialKZ commented on #63
thanks

[2021-11-19 09:48] MercurialKZ commented on #63
<img width="325" alt="Снимок экрана 2021-11-19 в 15 43 44" src="https://user-images.githubusercontent.com/36929402/142601386-339dd979-df46-4588-9ef8-ffbed4572794.png">
can u update RealmSwift version

[2021-11-19 09:57] arturdev commented on #63
the podspec of Unrealm always points to the latest version of Realm/RealmSwift.
Try to do "pod update --repo-update"

[2021-11-19 09:59] #63 closed

[2021-11-19 09:59] MercurialKZ commented on #63
thanks )

[2021-11-26 12:08] abaig-experlabs opened #64 "- There must be a primary key property named '_id' on a synchronized Realm but none was found for type 'RLMOptional'"
Hey I am facing this issue while trying to add data with realm swift
is RLMOptional a custom data type of unrealm?
@arturdev

[2021-11-26 13:52] arturdev commented on #64
Hi. No, RLMOptional is one of the Realm's native types

[2021-11-26 14:00] abaig-experlabs commented on #64
Hi, do you have any idea why I get this error?

[2021-11-26 14:35] abaig-experlabs commented on #64
i just debugged a little and it seems like the unrealm is treating optional custom objects like this which is causing the error
@arturdev

<img width="573" alt="Screen Shot 2021-11-26 at 7 34 08 PM" src="https://user-images.githubusercontent.com/61403191/143596462-c1b58e6a-0f46-4a5f-9c05-5b672628f3c0.png">

[2021-11-26 17:29] arturdev commented on #64
So far my unit tests pass successfully:
https://github.com/arturdev/Unrealm/blob/master/Example/Tests/ExampleModels/User.swift#L25

[2021-11-26 17:39] #64 closed

[2021-11-26 19:43] abaig-experlabs opened #65 "Why does non-optional types have optional: true?"
subtype {
		type = string;
		indexed = NO;
		isPrimary = NO;
		array = NO;
		set = NO;
		dictionary = NO;
		optional = YES;
	}
	type {
		type = string;
		indexed = NO;
		isPrimary = NO;
		array = NO;
		set = NO;
		dictionary = NO;
		optional = YES;
	}
	swx_stag {
		type = string;
		indexed = NO;
		isPrimary = NO;
		array = NO;
		set = NO;
		dictionary = NO;
		optional = YES;
	}

	@arturdev

[2021-11-27 11:38] abaig-experlabs commented on #65
@arturdev can you help me in this?

[2021-11-27 17:01] arturdev commented on #65
What is this? And what help do you need?

[2021-11-28 19:11] abaig-experlabs commented on #65
i made an update to ask for requiredProperties just like indexedProperties.
i will create a PR.
It's intended for realm sync.

[2021-11-29 07:18] arturdev commented on #65
I still don't understand what is the problem and what you want to achieve.
Can you please elaborate?

[2021-11-29 09:03] abaig-experlabs commented on #65
Currently, there is no way to specify required properties. Why I need this is because of realm sync. Realm sync is used to sync ream data on MongoDB cloud which is realm's database. So in order to make it compatible with realm sync, i added some updates in the code and sent it to you.

[2021-12-26 19:32] DantePuglisi opened #66 "Swift Package Manager on SPM branch throws error "Package resolution failed""
I can't provide much debug info or console logs since there aren't any. Please let me know how I can help fix this!

[2021-12-26 19:52] #66 closed

[2021-12-27 13:28] DantePuglisi commented on #62
I got here because `Realmable` structs are requesting to create an empty `init` otherwise they don't comply to `Realmable`. What's the cause for the issue explain here (and the `init` issue too)? Maybe they're related @arturdev?

[2021-12-27 18:39] DantePuglisi opened #67 "RealmableEnum not able to determine RawValue"
I'm having a crash that reads:
[code]

I suspect it's because I have this `init` in `MyEnum` which I can't change (because it's used in other targets I don't have access to). What could be the cause? I spent some time trying to determine the issue and discovered that inside the `Realm` framework on `(BOOL)setTypeFromRawType:(NSString *)rawType` in `RLMProperty` `rawType` is `@\MyEnum\` which is wr

[2022-01-17 07:55] anilios opened #70 "Instance method 'min(ofProperty:)' requires that 'T' conform to '_HasPersistedType'"
Facing this error in Unrealm-> Results.

[2022-01-19 17:38] Sunsay86 commented on #70
We have the same issue, when clone and install pod on new MacOS.
@anilios do you have any solutions?

[2022-01-20 07:39] arturdev commented on #70
There is a pull request solving this issue already.

[2022-01-20 09:51] anacronistico commented on #70
same problem here

[2022-01-20 10:32] arturdev commented on #70
I just published a new version.
https://github.com/arturdev/Unrealm/releases/tag/1.9.4

[2022-03-21 04:25] jlott1 commented on #57
@arturdev
I think a better example is I have
[code]

Given these data structures, say from my server I fetched an updated list of all of my parents' names and superPowers but didn't want to fetch all of the children and grandchildren because there was no modifications made to those objects.  I'd like to have a way to update top-level properties of an array of objects and ignore the relations for t